In [1]:
#Datatypes
import pandas as pd
# Creating a series of car types
cars = pd.Series(["BMW", "Toyota", "Honda"])
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [2]:
import pandas as pd
# Creating a series of car types
cars = pd.Series(["BMW", "Toyota", "Honda"])
print(cars)

0       BMW
1    Toyota
2     Honda
dtype: object

In [3]:
# Creating a series of colours
colours = pd.Series(["Blue", "Red", "White"])
colours

0     Blue
1      Red
2    White
dtype: object

In [9]:
#You can create a DataFrame by using pd.DataFrame() and passing it a Python dictionary.
#Let's use our two Series as the values.
# Creating a DataFrame of cars and colours
car_data = pd.DataFrame({"Car type": cars, 
                         "Colour": colours})
print(car_data)

# Creating a series of colours
colours1 = pd.Series(["green", "purple", "black"])
colours

  Car type Colour
0      BMW   Blue
1   Toyota    Red
2    Honda  White

0     Blue
1      Red
2    White
dtype: object

In [11]:
car_data = pd.DataFrame({"Car type": cars, 
                         "Colour": colours})
print(car_data)

  Car type Colour
0      BMW   Blue
1   Toyota    Red
2    Honda  White

In [13]:
#Dictionary- Dictionaries are used to store data values in key:value pairs.
thisdict ={"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [14]:
 #Make a Series of different foods
foods = pd.Series(["Almond butter", "Eggs", "Avocado"])

# Make a Series of different dollar values 
prices = pd.Series([9, 6, 2])

# Combine your Series of foods and dollar values into a DataFrame
food_data = pd.DataFrame({"Foods": foods,
                          "Price": prices})

food_data

           Foods  Price
0  Almond butter      9
1           Eggs      6
2        Avocado      2

In [7]:
# Import car sales data
car_sales = pd.read_csv("car-sales.csv") # takes a filename as string as input
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [9]:
car_sales = pd.read_csv("car-sales.csv")
car_sales['Make']

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

In [12]:
car_sales[car_sales["Make"] == "Toyota"]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
2  Toyota   Blue          32549      3  $7,000.00
5  Toyota  Green          99213      4  $4,500.00
8  Toyota  White          60000      4  $6,250.00

In [13]:
car_toyota=car_sales[car_sales["Make"] == "Toyota"]
car_toyota.to_csv('toyota.csv', index=False)
#The index=False argument tells pandas
#not to write row names (index) to the CSV file.

In [1]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('example.csv', index=False)