In [4]:
3 + 7

10

In [6]:
3 > 15

False

In [3]:
'print me'

'print me'

In [12]:
print('print me')

print me

In [13]:
print("print me")

print me

In [11]:
if 10 > 5:
    print("Ten is greater than five!")

Ten is greater than five!

In [12]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (589121318.py, line 2)

In [13]:
if 10 > 5:
 print("Ten is greater than five!") #No of space is 1
if 10 > 5:
    print("Ten is greater than five!") #No of spaces are 4

Ten is greater than five!
Ten is greater than five!

In [15]:
#We shall use the same number of spaces in the same block of code#,
if 10 > 5:
        print("Ten is greater than five!")
        print("Ten is greater than five!")

Ten is greater than five!
Ten is greater than five!

In [18]:
x=5
gpa=8.5
print(x)
print("x is", x)
print(gpa)

5
x is 5
8.5

In [22]:
x+5
#print(x+5)

10

In [22]:
x=9
print("x is", x)

x is 9

In [23]:
1+4*3

13

In [24]:
(1+4)*3

15

In [27]:
35/5

7.0

In [28]:
35%4

3

In [29]:
35/2.5

14.0

In [30]:
35/2.6

13.461538461538462

In [23]:
#Assigning same value to multiple variables in one line
x = y = z = "Hello"
print(x)
print(y)
print(z)

Hello
Hello
Hello

In [24]:
fruits = ["apple", "grape", "mango"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
grape
mango

In [37]:
x = "Hello"
y = "Good"
z = "Morning"
print(x+ ","+y +"," +z)
print(x,",", y,",",z)

Hello,Good,Morning
Hello , Good , Morning

In [26]:
x = 'Hello'
y = 'Good'
z = 'Morning'
print(x, y, z)

Hello Good Morning

In [27]:
x = "Hello "
y = "Good "
z = "Morning"
print(x + y + z)

Hello Good Morning

In [30]:
x = 20
y = 30
print(x + y)

50

In [31]:
x = 20
y = "Good"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
x = 20
y = "Good"
print(x, y)

20 Good

In [51]:
from math import *

floor(20.3)
#cos(30)
#sqrt(49)
max(23, 42)
min(23, 42)

23

In [52]:
1.23232

1.23232

In [55]:
print ("Hello, world!")  
age = 45
print ("You have", 65 - age, "years until retirement")

Hello, world!
You have 20 years until retirement

In [60]:
age = input("How old are you? ")
age=int(age)
print ("Your age is", age)
print ("You have", 65 - age, "years until retirement")

How old are you?  23

Your age is 23
You have 42 years until retirement

In [64]:
num = int(input("enter the number:"))         
# Here, we are taking an integer num and taking input dynamically  
if num%2 == 0:      
    print("The Given number is an even number")

enter the number: 30

The Given number is an even number

In [62]:
    # Simple Python Program to print the largest of the three numbers.  
    a = int (input("Enter a: "));    
    b = int (input("Enter b: "));    
    c = int (input("Enter c: "));    
    if a>b and a>c:    
    # Here, we are checking the condition. If the condition is true, we will enter the block  
        print ("From the above three numbers given", a, "is largest");    
    if b>a and b>c:    
    # Here, we are checking the condition. If the condition is true, we will enter the block  
        print ("From the above three numbers given", b, "is largest");    
    if c>a and c>b:    
    # Here, we are checking the condition. If the condition is true, we will enter the block  
        print ("From the above three numbers given", c, "is largest");

Enter a:  23
Enter b:  12
Enter c:  21

From the above three numbers given a is largest

In [65]:
#Program to check whether a person is eligible to vote or not.  
age = int (input("Enter your age: "))    
if age>=18:    
# Here, we are checking the condition. If the condition is true, we will enter the block  
    print("You are eligible to vote !");    
else:    
    print("Sorry! you have to wait !");

Enter your age:  34

You are eligible to vote !!

In [67]:
    #  program to understand elif statement  
    marks = int(input("Enter the marks? "))    
    if marks > 90 and marks <= 100:     
       print("Congrats ! you scored grade O ...")    
    elif marks > 80 and marks <= 90:    
       print("You scored grade A+")    
    elif marks >70 and marks <= 80:  
       print("You scored grade A")    
    elif (marks > 30 and marks <= 70):    
       print("You scored grade C ...")    
    else:    
       print(" you are fail ")

Enter the marks?  67

You scored grade C ...

In [1]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [3]:
number = 1
while number < 200:
    print(number)
    number = number*2

1
2
4
8
16
32
64
128

In [5]:
i = 1
while i < 10:
  print(i)
  i += 1
else:
  print("i is no longer less than 10")

1
2
3
4
5
6
7
8
9
i is no longer less than 10

In [8]:
for x in range(1, 6):
    print (x, "squared is", x * x)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [10]:
fruits = ["grapes", "banana", "mango","apple"]
for x in fruits:
    print(x)

grapes
banana
mango
apple

In [27]:
for x in [1,7,13,2]:
 print(x)

1
7
13
2

In [11]:
for x in range(5, 0, -1):  
    print (x)
print ("Blastoff!")

5
4
3
2
1
Blastoff!

In [13]:
for i in "pineapple":
 print(i)

p
i
n
e
a
p
p
l
e

In [23]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [24]:
for i in range(5):
    print(i,end="")

01234

In [26]:
sum = 0
for i in range(1, 11):
    sum = sum + (i * i)
    print ("sum of first 10 squares is", sum)

sum of first 10 squares is 1
sum of first 10 squares is 5
sum of first 10 squares is 14
sum of first 10 squares is 30
sum of first 10 squares is 55
sum of first 10 squares is 91
sum of first 10 squares is 140
sum of first 10 squares is 204
sum of first 10 squares is 285
sum of first 10 squares is 385

In [29]:
    # Python program to show how the for loop works  
      
    # Creating a sequence which is a collection of numbers  
    numbers = [4, 2, 6, 7, 3, 5, 8, 10, 6, 1, 9, 2]  
      
    # variable to store the square of the number  
    square = 0  
      
    # Creating an empty list  
    squares = []  
      
    # Creating a for loop  
    for value in numbers:  
        square = value ** 2  
        squares.append(square)  
    print("The list of squares is", squares)

The list of squares is [16, 4, 36, 49, 9, 25, 64, 100, 36, 1, 81, 4]